@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply hover:shadow-xl active:scale-90 transition duration-200 ease-in rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
}

.logo {
  --s: 60px;   /* the size of the image */
  --b: 4px;     /* the border thickness*/
  --g: 4px;    /* the gap */
  --c: #5651e5; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0000;
  outline-offset: calc(var(--s)/-3);
  cursor: pointer;
  transition: 0.3s;
}
.logo:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.logo + .logo {
  border-radius: 50%;
}

